.app {
  background-color: #21252d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #acaeb3;
}

.app h1 {
  flex: 1 1 0;
}

.repl {
  flex: 2 1 0;
  width: 80vw;
}

.repl input {
  width: 100%;
  height: 100px;
  font-size: calc(10px + 4vmin);
  background-color: #39404d;
  border: none;
  color: #acaeb3;
  text-align: center;
}

.repl input:focus {
  outline: none;
}

.results {
  text-align: center;
}

.results li {
  list-style: none;
}

.historyItem {
  display: flex;
  justify-content: space-between;
}